<!-- Start: Footer -->
<footer class="footer">
  {% if page.footer_top %}
    <section id="footer-top">
      <div class="container">
        <div class="footer-top">{{ page.footer_top }}</div>
      </div>
    </section>
  {% endif %}<!-- /footer-top -->

  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    <section id="footer-blocks">
      <div class="container">
      <div class="footer-container">
        <div class="footer-block">
          {% if page.footer_first %}
            {{ page.footer_first }}
          {% endif %}
        </div> <!--/footer-first -->

        <div class="footer-block">
          {% if page.footer_second %}
            {{ page.footer_second }}
          {% endif %}
        </div> <!--/footer-second -->

        <div class="footer-block">
          {% if page.footer_third %}
            {{ page.footer_third }}
          {% endif %}
        </div> <!--/footer-three -->

        <div class="footer-block last-footer-block">
          {% if page.footer_fourth %}
            {{ page.footer_fourth }}
          {% endif %}
        </div> <!--/footer-fourth -->
      </div> <!--/footer-container -->
      </div> <!--/container -->
    </section> <!--/footer-blocks -->
  {% endif %} {# end if for footer one, two, three, four blocks #}

  {% if page.footer_bottom %}
    <section id="footer-bottom">
      <div class="container">
        <div class="footer-bottom">{{ page.footer_bottom }}</div>
      </div> <!-- /.container -->
    </section>
  {% endif %}<!-- /footer-bottom -->

 {% if copyright_text or all_icons_show %}
  <section id="footer-bottom-last">
    <div class="container">
    <div class="footer-bottom-last">
      {% if copyright_text %}
          <div class="copyright">
            &copy; {{ "now"|date("Y") }} {{ site_name }}, All rights reserved.
          </div>
      {% endif %}
      {% if all_icons_show %}
        <div class="footer-social-icons">
          {% include '@zuvi/template-parts/social-icons.html.twig' %}
        </div>
      {% endif %}
      </div> <!--/.text_right -->
    </div> <!-- /.footer-bottom-last -->
    </div> <!-- /.container -->
  </section> <!-- /footer-bottom-last -->
  {% endif %} <!-- end condition if copyright or social icons -->
</footer>
{% if scrolltotop_on %}
<div class="scrolltop"><div class="scrolltop-icon"><i class="icon-arrow-up"></i></div></div>
{% endif %}
<!-- End: Footer -->
{% if font_icon_fontawesome %}
{{ attach_library('zuvi/fontawesome') }}
{% endif %}
{% if font_icon_material %}
{{ attach_library('zuvi/material') }}
{% endif %}
{% if circle_type == 'circle_solid' %}
<style>
.header-circle {
  background: var(--circle-color);
}
</style>
{% endif %}